body {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 12px;
    padding-bottom: 100px;
    color: #f9faf8;
    background-color: #1f2937;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}


header {
    font-size: 24px;
    font-weight: 700;
    margin-left: 8px;
}

a, ul {
    display: flex;
    gap: 8px;
    margin-left: auto;
    margin-right: 10px;
    text-decoration: none;
    color: #e5e7eb;
    list-style: none;

}

.text-awesome {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    background-color: #1f2937;
    padding-bottom: 100px;
    
}

.image {
    color: #f9faf8;
    background-color: #767a83;
    font-family: roboto, sans-serif;
    padding: 100px 150px;
    text-align: center;
    margin-left: auto;

}

.border {
    padding-left: 15%;
    padding-right: 15%;
}

.content-title {
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 10px;
}

.content-subtext, .poptext{
    color: #e5e7eb;
    font-family: roboto, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

button{
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    padding: 8px 16px;
    color: #e5e7eb;
    font-family: roboto, sans-serif;
    font-size: 18px;
    background-color: #3882f6;
    text-align: center;
    
}

.header-boxes {
    font-family: roboto, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;

}
.boxes {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;

}
.info-container {
  width: 200px;
    
}
.info-text {
    color: #4d4d50;
    font-family: roboto, sans-serif;
}
.img {
    margin: 30px;
    border: #3882f6;
    border-style: solid;
    border-width: 5px;
    border-radius: 5%;
    width: 80px;
    height: 80px;
    padding: 30px 30px;
}

.quote {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #4f4f56;
    font-family: roboto, sans-serif;
    font-style: italic;
    font-size: 36px;
    background-color: #e5e7eb;;
}

.author {
    margin-top: 20px;
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #eeeeee;
    background-color: #3882f6;
    border-radius: 20px;
}
.popcontainer {
    margin-left: 150px;
    gap: 5px;
    display: flex;
    flex-direction: column;

}
.popbutton {
    margin-right: 150px;
    border-style: solid;
    border-color: #eeeeee;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    padding: 8px 16px;
    color: #e5e7eb;
    font-family: roboto, sans-serif;
    font-size: 18px;
    background-color: #3882f6;
    text-align: center;
    margin-left: auto;
}

.popheader {
    font-family: roboto, sans-serif;
    font-size: 24px;

}